services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  BalticRobo\Api\:
    resource: '../src/*'
    exclude: '../src/{Entity,Migrations,Kernel.php}'

  BalticRobo\Api\Controller\:
    resource: '../src/Controller'
    tags: ['controller.service_arguments']
